<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Añadir Producto Externo</title>
</head>
<body>
    <h1>Añadir Producto Externo</h1>
    <h2>Debes introducir todos los campos</h2>
    <form method='post'>

        <label for="nombreProducto">Nombre del Producto:</label>
        <input type="text" id="nombreProducto" name="nombreProducto" placeholder="Nombre del producto"><br><br>

        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" placeholder="Descripción del producto"><br><br>

        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" step="0.01" min="0.0" placeholder="Precio del producto"><br><br>

        <label for="nombreExterna">Nombre Tienda Externa:</label>
        <input type="text" id="nombreExterna" name="nombreExterna" placeholder="Nombre de la tienda externa"><br><br>

        <input type="submit" name="submit" value="Añadir Producto">
    </form>
</body>
</html>
